<!DOCTYPE html>
<html ng-app="selfAssessment1">

<head>
    <title>Angular Fundamentals</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="firstController">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script>
        var selfAssessment1 = angular.module('selfAssessment1',[]);
        selfAssessment1.constant('myConfig', {constantDate:Date()});
        selfAssessment1.controller('firstController',[
            '$scope', 'myConfig',
            function($scope,myConfig) {
                $scope.appName = myConfig.applicationName;
                $scope.dateNow = Date();
            }
        ]);
    </script>
    <div class="container">
        <h1>AngularFundamentals</h1>
        <h2>{{'Hello from AngularJS'}}</h2>
        <pre>This is the date as a constant: {{constantDate}}</pre>
        <pre>The current date is: {{dateNow}}</pre>
    </div>
</body>

</html>