<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="pizzaController">
    <div class="container">
        <h1>Tony's Pizza</h1>

        <h2>{{model.title}}</h2>
        
        <h3>Topping Search</h3>
        
        <input type="text" class="form-control" ng-model="model.search">

        <div ng-hide="model.search">
            Enter the search criteria above.
        </div>

        <div ng-show="model.search" ng-repeat="t in model.availableToppings | filter:model.search as filteredToppings">
            <span ng-click="addTopping(t)">{{t}}</span>
        </div>
        <!-- notification area -->
        <div ng-if="filteredToppings.length === 0 && model.search != null" class="alert alert-danger">
            No results.
        </div>
        <div ng-if="model.searchNotif" class="alert alert-success">
            Topping added <button ng-click="model.searchNotif = false">Click</button>
        </div>


        <h3 ng-show="model.toppings.length > 0 === true">Selected Toppings</h3>
        <div ng-repeat="t in model.toppings">
            {{t}}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/pizzaController.js"></script>
</body>

</html>