<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza - New User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="labController">
    <div class="container">
        <h1>New User Registration</h1>
        <form class="form-horizontal" name="form" novalidate>
            <!-- username -->
            <!-- <div class="form-group">
                <div class="col-md-2">
                    <label>Username</label>
                </div>
                <div class="col-md-5">
                    <input type="text" name="username" class="form-control" ng-model="model.username" required>
                    <div class="alert alert-danger" ng-show="(form.username.$touched || form.$submitted) && form.username.$error.required" >
                        username is required
                    </div>
                </div>
            </div> -->
            <!-- password -->
            <div class="form-group">
                <div class="col-md-2">
                    <label>Password</label>
                </div>
                <div class="col-md-5">
                    <input type="password" name="password" class="form-control" ng-model="model.password" required> 
                    <div class="alert alert-danger" ng-show="(form.password.$touched || form.$submitted) && form.password.$error.required" >
                        password is required
                    </div>
                </div>
            </div>
            <!-- name -->
            <div class="form-group">
                <div class="col-md-2">
                    <label>Name</label>
                </div>
                <div class="col-md-5">
                    <input type="text" name="name" class="form-control" ng-model="model.name" required>
                    <div class="alert alert-danger" ng-show="(form.name.$touched || form.$submitted) && form.name.$error.required" >
                        name is required
                    </div>
                </div>
            </div>
            <!-- phone number -->
            <div class="form-group">
                <div class="col-md-2">
                    <label>Phone Number</label>
                </div>
                <div class="col-md-5">
                    <input type="number" name="phone" ng-model="model.phone" ng-required="true">
                    <div class="alert alert-danger" ng-show="(form.phone.$touched || form.$submitted) && form.phone.$error.required" >
                        phone number is required
                    </div>
                </div>
            </div>
            <!-- email address -->
            <div class="form-group">
                <div class="col-md-2">
                    <label>Email address</label>
                </div>
                <div class="col-md-5">
                    <input type="email"  name="email" class="form-control" ng-model="model.email" ng-required="true" readonly>eve.holt@reqres.in is required for the API to accept the </input>
                    <div class="alert alert-danger" ng-show="(form.email.$touched || form.$submitted) && form.email.$error.required" >
                        email address is required
                    </div>
                </div>
            </div>
            <!-- favorite pizza -->
            <div class="form-group">
                <div class="col-md-2">
                    <label>Favorite Pizza</label>
                </div>
                <div class="col-md-5">
                    <select name="favoritePizza" list="pizzas" ng-model="model.favoritePizza" ng-required="true">
                        <option value=""></option>
                        <option value="Cheese Pizza">Cheese Pizza</option>
                        <option value="Pepperoni Pizza">Pepperoni Pizza</option>
                        <option value="Margherita Pizza">Margherita Pizza</option>
                        <option value="BBQ Chicken Pizza">BBQ Chicken Pizza</option>
                        <option value="Combo Pizza">Combo Pizza</option>
                    </select>
                    <div class="alert alert-danger" ng-show="(form.favoritePizza.$touched || form.$submitted) && form.favoritePizza.$error.required" >
                        favorite pizza is required
                    </div>
                </div>
            </div>
            <!-- submit/cancel -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" value="Submit" class="btn btn-primary" ng-click="submit(model)" ng-disabled="form.$invalid"/>
                    <button class="btn btn-default">Reset</button>
                </div>
            </div>

            <pre>{{model | json}}</pre>
        </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.min.js"></script>
    <script src="./app/registrationService.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/labController.js"></script>
</body>

</html>